block head

doctype html
html(lang="ua")
    head
        meta(charset='utf-8')
        title #{title}
        meta(content="width=device-width, initial-scale=1" name="viewport")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        link(rel='stylesheet', href='css/main.css')


    body
        block content
        script(src='js/main.js')