//Tektur
@font-face
  font-family: 'Tektur-SemiBold'
  src: url(../fonts/Tektur-SemiBold.woff)
  font-weight: 600
//Favbet Text
@font-face
  font-family: 'Favbet Text Regular'
  src: url(../fonts/FavbetText-Regular.woff)
  font-weight: 400
