//Tektur
@font-face
  font-family: 'Tektur-SemiBold'
  src: url(../fonts/Tektur-SemiBold.woff)
  font-weight: 600
//Favbet Text
@font-face
  font-family: 'Favbet Text Regular'
  src: url(../fonts/FavbetText-Regular.woff)
  font-weight: 400
//SuisseIntl
// @font-face
//   font-family: 'SuisseIntl-SemiBold'
//   src: url(../fonts/SuisseIntl-SemiBold.woff)
//   font-weight: 600

// //AlumniSans
// @font-face
//   font-family: 'Alumni Sans Bold'
//   src: url(../fonts/AlumniSans-Bold.woff)
//   font-weight: 700

// @font-face
//   font-family: 'Alumni Sans Medium'
//   src: url(../fonts/AlumniSans-Medium.woff)
//   font-weight: 500

// @font-face
//   font-family: 'Alumni Sans Regular'
//   src: url(../fonts/AlumniSans-Regular.woff)
//   font-weight: 400
