@media screen and (min-width: 1500px)
  .hero
    &__left
      transform: scale(1.1)
  .capsule
    margin-top: -10px
@media screen and (max-width: 1350px)
  .page
    &__hero
      background-position-y: 0%
  body.dark 
    .page
      &__hero
        background-position-y: 0%
@media screen and (max-width: 1100px)
  .moneybox
    &__items
      transform: scale(0.9)
      transform-origin: top
    &__item
      margin-left: -20px
      margin-right: -20px
@media screen and (max-width: 1000px)
  .hero
    &__container
      padding-bottom: 35px
    &__details
      margin-top: -75px
      padding: 57px 45px 31px 20px
    &__glitch
      width: 440px
      height: 218px
  .capsule
    margin-top: 0
    margin-left: -97px
  .moneybox
    &__box--1
      padding: 25px 15px 0 40px
    &__box--2
      padding: 27px 16px 0 50px
    &__box--3
      padding: 20px 15px 0 22px

    &__sub-title
      font-size: 16px
      padding-left: 10px
    &__element
      font-size: 14px
    &__elements
      font-size: 14px
    &__sub-text
      font-size: 14px
@media screen and (max-width: 950px) and (max-height: 450px) and (orientation: landscape)
  .hero
    &__right
      margin-top: -20px
      transform: scale(0.9)
      transform-origin: top left
    &__btn
      margin-top: -20px
@media screen and (max-width: 950px) and (max-height: 440px) and (orientation: landscape)
  .hero
    &__left
      margin-top: -30px
@media screen and (max-width: 900px)
  .moneybox
    &__items
      transform: scale(1)
      padding-left: 5px
      padding-right: 5px
    &__sub-title
      margin-bottom: 10px
      font-size: 14px
      padding-left: 10px
    &__element
      font-size: 12px
    &__elements
      font-size: 12px

    &__sub-text
      font-size: 12px
  .page.en
    .moneybox
      &__elements
        &--up
          li
            font-size: 12px
@media screen and (max-width: 890px) and (max-height: 350px) and (orientation: landscape)
  .hero
    &__left
      transform: scale(0.7)
      margin-top: -80px
    &__right
      transform: scale(0.6)
      margin-top: -100px
      transform-origin: left
@media screen and (max-width: 850px)
  .hero
    &__left
      margin-left: 50px
    &__right
      transform: scale(0.9)
      transform-origin: left
  .capsule
    margin-top: 0
    margin-left: -125px
  .moneybox
    &__item
      margin-left: -25px
      margin-right: -25px
    &__box--2
      padding: 27px 16px 0 40px
@media screen and (max-width: 850px) and (max-height: 400px) and (orientation: landscape)
  .hero
    &__left
      transform: scale(0.9)
    &__right
      transform: scale(0.8)
      margin-top: -60px
@media screen and (max-width: 810px)
  .moneybox
    &__box--2
      padding: 15px 16px 0 40px
@media screen and (max-width: 808px) and (max-height: 335px) and (orientation: landscape)
  .hero
    &__left
      transform: scale(0.7)
    &__right
      transform: scale(0.7)
      margin-top: -90px
@media screen and (max-width: 800px)
  .hero
    &__container
      padding-bottom: 15px
  .moneybox
    &__box--1
      padding-top: 18px
      padding-left: 30px
    &__box--2
      padding-top: 13px
      padding-right: 20px
    &__box--3
      padding-top: 13px
    &__sub-title
      padding-left: 18px
@media screen and (max-width: 790px) and (max-height: 400px) and (orientation: landscape)
  .hero
    &__left
      transform: scale(0.9)
    &__right
      transform: scale(0.8)
      margin-top: -60px
@media screen and (max-width: 768px)
  .moneybox
    &__items
      padding-left: 0
      padding-right: 0
      flex-direction: column
    &__item
      width: 100%
      background: none
      margin: 0
      height: fit-content
      position: relative
      padding: 25px 0
      &::before
        content: ''
        opacity: 0.8
        position: absolute
        display: block
        left: 0
        top: 50%
        min-height: 220px
        transform: translateY(-50%)
        bottom: 0
        width: 218px
        height: 100%
        background: url('../img/item-desk-bg-tab.png') no-repeat 0% 50%/contain
      &::after
        content: ''
        opacity: 0.8
        position: absolute
        display: block
        left: 0
        top: 50%
        min-height: 220px
        transform: translateY(-50%) rotate(180deg)
        bottom: 0
        width: 218px
        margin-left: auto 
        height: 100%
        animation: none
        background: url('../img/item-desk-bg-tab.png') no-repeat 0% 50%/contain
        // transform: rotate(180deg) 
    &__tab-light
      display: block
      position: absolute
      left: 50px
      right: 50px
      height: 80%
      top: 50%
      transform: translateY(-50%)
      background-color: #042efda4
      border-radius: 100% 
      opacity: 0.5
      filter: blur(22px)
      animation: light-tab 5s ease-in-out infinite

    &__box
      width: fit-content
      margin: 0 auto
      &--1
        width: 303px
        padding: 31px 26px 0 48px
      &--2
        width: 325px
        padding: 35px 30px 0 60px
      &--3
        width: 325px
        height: 240px
        padding: 28px 20px 0 35px
    &__sub-title
      font-size: 17px
      margin-bottom: 16px
      padding-left: 0
    &__element
      font-size: 15px
    &__elements
      font-size: 15px
    &__sub-text
      font-size: 15px
  .glitch
    .glitch-img
      background: url("../img/hero-text-tab.png") no-repeat 0 0/cover
  .page.en
    .glitch
      .glitch-img
        background: url("../img/en/hero-text-tab.png") no-repeat 0 0/cover
  body.dark 
    .moneybox
      &__item
        background: none
        &::before
          background: url('../img/dark/item-desk-bg-tab.png') no-repeat 0% 50%/contain
        &::after
          background: url('../img/dark/item-desk-bg-tab.png') no-repeat 0% 50%/contain
      &__tab-light
        background-color: #2F3E79


@media screen and (max-width: 768px) and (max-height: 375px) and (orientation: landscape)
  .hero
    &__btn
      margin-top: -50px
@media screen and (max-width: 760px)
  .hero
    &__left
      transform: scale(0.95)
      transform-origin: right
    &__right
      transform: scale(0.85)
  .moneybox
    margin-top: -15px
@media screen and (max-width: 750px) and (max-height: 360px) and (orientation: landscape)
  .hero
    &__left
      transform: scale(0.75)
      margin-top: -70px
    &__right
      transform: scale(0.65)
      margin-top: -90px
@media screen and (max-width: 725px)
  .hero
    &__left
      transform: scale(0.9)
      transform-origin: right
    &__right
      transform: scale(0.8)
  .moneybox
    margin-top: -30px
@media screen and (max-width: 690px)
  .hero
    margin-top: -30px
    &__left
      transform: scale(0.8)
      transform-origin: right
    &__right
      transform: scale(0.7)
  .moneybox
    margin-top: -50px
@media screen and (max-width: 690px) and (max-height: 330px) and (orientation: landscape)
  .hero
    &__left
      margin-top: -50px
      transform: scale(0.7)
    &__right
      margin-top: -70px
      transform: scale(0.6)
@media screen and (max-width: 640px) and (max-height: 360px) and (orientation: landscape)
  .hero
    &__left
      margin-top: -30px
    &__right
      margin-top: -60px
@media screen and (max-width: 620px)
  .page
    &__hero
      background-position-x: 90%
      &::after
        display: none
  .hero
    margin-top: 0
    &__container
      flex-direction: column-reverse
      align-items: center
    &__left, &__right
      transform: scale(1)
      width: fit-content 
      margin: 0
    &__left
      margin-top: -50px
      position: relative
      z-index: 3
  .capsule
    margin: 0
  .moneybox
    margin-top: 0
@media screen and (max-width: 593px) and (max-height: 370px) and (orientation: landscape)
  .hero
    &__container
      flex-direction: row
    &__left
      margin-top: -90px
      margin-right: -60px
      margin-left: 60px
      transform: scale(0.7)
    &__right
      margin-top: -70px
      transform: scale(0.6)
@media screen and (max-width: 553px) and (max-height: 375px) and (orientation: landscape)
  .hero
    &__container
      flex-direction: row
    &__left
      margin-top: -90px
      margin-right: -60px
      margin-left: 60px
      transform: scale(0.7)
    &__right
      margin-top: -70px
      transform: scale(0.6)
@media screen and (max-width: 500px)
  .moneybox
    &__item
      padding: 10px 0
    &__tab-light
      opacity: 0.6
      animation: light-tab2 5s ease-in-out infinite
@media screen and (max-width: 480px)
  .capsule
    margin-top: -30px
    background: none
    position: relative
    &::after
      content: ''
      display: block
      width: 100%
      height: 100%
      position: absolute
      inset: 0
      background: url("../img/bg_capsule_desk.png") no-repeat 0% 0%/contain
      opacity: 0.6
    &__inner
      position: relative
      z-index: 3
  .hero
    &__right
      transform: scale(0.9)
      transform-origin: top
    &__left
      margin-top: -180px
  .moneybox
    &__tab-light
      left: 30px
      right: 30px
@media screen and (max-width: 450px)
  .page
    &__hero
      background-position-x: 80%
@media screen and (max-width: 440px)

@media screen and (max-width: 430px)
  .hero
    &__right
      transform: scale(0.8)
    &__left
      margin-top: -200px
      transform: scale(0.9)
      transform-origin: top
    &__btn
      margin-top: -40px
      transform: scale(1.2)
  .moneybox
    margin-top: -40px
    &__item
      padding: 10px 0
    &__box
      transform: scale(0.9)
@media screen and (max-width: 375px)
  .hero
    &__right
      transform: scale(0.6)
    &__left
      margin-top: -310px
  .glitch
    .glitch-img
      background: url("../img/hero-text-mob.png") no-repeat 0 0/cover
  .page.en
    .glitch
      .glitch-img
        background: url("../img/en/hero-text-mob.png") no-repeat 0 0/cover
@media screen and (max-width: 370px)
  .hero
    &__left
      transform: scale(0.8)
  .moneybox
    margin-top: -80px
@media screen and (max-width: 350px)
  .moneybox
    &__items
      gap: 0
    &__item
      &::before
        width: 138px
      &::after
        width: 138px
      &--2
        margin-top: -20px
      &--3
        margin-top: -30px
    &__box
      transform: scale(0.85)