// @media screen and (max-width: 2560px)
@media screen and (max-width: 1700px)
// @media screen and (max-width: 1600px)
@media screen and (min-width: 1500px)
  .page
  .hero
    &__left
      transform: scale(1.1)
  .capsule
    margin-top: -10px

      // background: url("../../img/bg-hero-desk.jpg") no-repeat 0 100%/cover
@media screen and (max-width: 1400px)
@media screen and (max-width: 1350px)
  .page
    &__hero
      // background: url("../../img/bg-hero-desk.jpg") no-repeat 0 -155px/cover
@media screen and (max-width: 1300px)
@media screen and (max-width: 1250px)
@media screen and (max-width: 1200px)
@media screen and (max-width: 1150px)
@media screen and (max-width: 1150px)
@media screen and (max-width: 1100px)
  .moneybox
    &__items
      transform: scale(0.9)
      transform-origin: top
    &__item
      margin-left: -20px
      margin-right: -20px
    //   &--1
    //     transform-origin: top right
    //   &--2
    //     transform-origin: top 
    //   &--3
    //     transform-origin: top left
@media screen and (max-width: 1000px)
  .moneybox
    &__items
      // transform: scale(0.8)
    &__sub-title
      font-size: 16px
    &__element
      font-size: 14px
    &__elements
      font-size: 14px
    &__sub-text
      font-size: 14px
@media screen and (max-width: 950px)
@media screen and (max-width: 900px)
@media screen and (max-width: 850px)
@media screen and (max-width: 768px)
@media screen and (max-width: 715px)
@media screen and (max-width: 700px)
@media screen and (max-width: 650px)
@media screen and (max-width: 600px)
@media screen and (max-width: 550px)
@media screen and (max-width: 500px)
@media screen and (max-width: 480px)
@media screen and (max-width: 450px)
@media screen and (max-width: 440px)
@media screen and (max-width: 430px)
@media screen and (max-width: 400px)
@media screen and (max-width: 390px)
@media screen and (max-width: 375px)
@media screen and (max-width: 350px)
@media screen and (max-width: 340px)
@media screen and (max-width: 320px)
@media screen and (max-width: 312px)
@media screen and (max-width: 300px)