html 
  scroll-behavior: smooth
  background-color: #00003D

$font-tektur-semibold: Tektur-SemiBold, sans-serif //600
$font-favbet-text-regular: Favbet Text Regular, sans-serif//400

// $font-suisse-intl-semibold: SuisseIntl-SemiBold, sans-serif//600
// $font-alumni-sans-bold: Alumni Sans Bold, sans-serif//700
// $font-alumni-sans-medium: Alumni Sans Medium, sans-serif//500
// $font-alumni-sans-regular: Alumni Sans Regular, sans-serif//400

// $color-blue: #005
// $color-white: #FFF
// $color-pink: #FF267E
// $color-green: #05C48A

body
  background-color: #000022
  overscroll-behavior: none
  font-family: $font-tektur-semibold
  overflow-x: hidden
  -webkit-tap-highlight-color: transparent
  img
    max-width: 100%
    height: auto

body.light
  background-color: #000022

.page
  overflow: hidden
  background-color: #000022

  &__hero
    height: 572px
    background: url('../img/bg-hero-desk.jpg') no-repeat 0 -155px/cover
    @media screen and (min-width: 600px) and (orientation: landscape) and (min-height: 501px)
      background: url('../img/bg-hero-desk.jpg') no-repeat 0 -155px/cover 
    @media screen and (min-width: 601px) and (max-width: 1300px) and (orientation: portrait)
      background: url('../img/bg-hero-tab.jpg') no-repeat 50% 0/cover 
    @media screen and (max-width: 600px) and (orientation: portrait)
      background: url("../img/bg-hero-mob.jpg") no-repeat 50% 0%/cover

.hero
  &__container
    display: flex
    padding-bottom: 77px
    max-width: 1016px
    margin: 0 auto
    position: relative
  &__left
    display: flex
    flex-direction: column
    align-items: center
  &__img
    height: 280px
  &__text
    margin-top: -95px
    padding: 65px 52px 20px 24px
    height: 222px
    background: url("../img/card-desk.png") no-repeat 0% 0%/contain
    width: fit-content

  &__sub-title
    margin-bottom: 16px
    color: #FFF
    text-align: center
    text-shadow: 0px 0px 8px rgba(30, 174, 255, 0.60), 0px 0px 8px rgba(30, 174, 255, 0.60)
    font-family: $font-tektur-semibold
    font-size: 22px
    line-height: normal
  &__sub-text
      color: #FFF
      text-align: center
      font-family: $font-favbet-text-regular
      font-size: 15px
      max-width: 330px
  &__btn
    width: 248px
    height: 104px
    background: url("../img/btn-bg.png") no-repeat 0% 0%/contain
    border: none
    cursor: pointer
    color: white
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.35), 0px 0px 6px #01FCAF
    text-align: center
    font-size: 17px
    font-family: $font-tektur-semibold
    text-transform: uppercase
    &:hover
      background: url("../img/btn-bg-hover.png") no-repeat 0% 0%/contain
      
  &__right
  

  &__title
    position: absolute
    bottom: 30px
    left: 0
    right: 0
    width: fit-content
    margin: 0 auto

    color: #FFF
    text-align: center
    text-shadow: 0px 0px 8px rgba(30, 174, 255, 0.60), 0px 0px 8px rgba(30, 174, 255, 0.60)
    font-family: $font-tektur-semibold
    font-size: 32px
    line-height: 28px
.capsule
  margin-top: -34px
  margin-left: -54px
  background: url("../img/bg_capsule_desk.png") no-repeat 0% 0%/contain
  width: 505px
  height: 529px
  padding: 46px 60px 71px 101px
  &__inner
    background: url("../img/bg_capsule_inner_desk.png") no-repeat 0% 0%/contain
    width: 100%
    height: 100%
    padding: 75px 127px 113px 91px
  &__money
      background: url("../img/money.png") no-repeat 0% 0%/contain
      width: 100%
      height: 100%

