.page
  section.page__hero.hero
    .hero__container
      .hero__left
        picture.hero__img
          source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/hero-text-desk.png")
          source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/hero-text-tab.png")
          source(media="(max-width: 500px) and (orientation: portrait)" srcset="img/hero-text-mob.png")
          source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/hero-text-desk.png")
          img(src="img/hero/terminals-desk.png" alt="Terminals")
        .hero__details
          p.hero__title Грай відповідально з FAVBET.
          p.hero__text Скарбничка — функціонал для контролю витрат, що дозволяє тимчасово обмежити частину коштів на твоєму балансі, зробивши їх недоступними для гри.
        button.hero__btn До «скарбнички»
      .hero__right
        .capsule 
          .capsule__inner
            .capsule__money
              img(src="img/money/money-1.png", alt="money item 1").capsule__money--1
              img(src="img/money/money-2.png", alt="money item 2").capsule__money--2
              img(src="img/money/money-3.png", alt="money item 3").capsule__money--3
              img(src="img/money/money-4.png", alt="money item 4").capsule__money--4
              img(src="img/money/money-6.png", alt="money item 6").capsule__money--6
              img(src="img/money/money-7.png", alt="money item 7").capsule__money--7
  section.moneybox
    h2.moneybox__title Як скористатися скарбничкою? 
    .moneybox__items
      .moneybox__item.moneybox__item--1
        .moneybox__box.moneybox__box--1
          p.moneybox__sub-title Переконайся:
          p.moneybox__element Ти верифікований гравець.
          p.moneybox__element У тебе є кошти на основному балансі.
      .moneybox__item.moneybox__item--2
        .moneybox__box.moneybox__box--2
          p.moneybox__sub-title Встановлюй ліміт:
          ul.moneybox__elements
            li Відкрий
            li Особистий кабінет
            li Баланс
            li Скарбничка
          p.moneybox__sub-text Вкажи суму для обмеження витрат. Вона буде недоступною для гри.
      .moneybox__item.moneybox__item--3
        .moneybox__box.moneybox__box--3
          p.moneybox__sub-title Повертай кошти:
          ul.moneybox__elements.moneybox__elements--up
            li У розділі
            li Скарбничка
          ul.moneybox__elements
            li натисни
            li Зняти
          p.moneybox__sub-text Обери суму, з якої хочеш зняти обмеження та повернути на основний баланс. Кошти стануть доступні для гри.


