.page
  section.page__hero.hero
    .hero__container
      .hero__left
        picture.hero__img
          source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/hero-text-desk.png")
          source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/hero-text-tab.png")
          source(media="(max-width: 500px) and (orientation: portrait)" srcset="img/hero-text-mob.png")
          source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/hero-text-desk.png")
          img(src="img/hero/terminals-desk.png" alt="Terminals")
        .hero__details
          p.hero__title Грай відповідально з FAVBET.
          p.hero__text Скарбничка — функціонал для контролю витрат, що дозволяє тимчасово обмежити частину коштів на твоєму балансі, зробивши їх недоступними для гри.
        button.hero__btn До «скарбнички»
      .hero__right
        .capsule 
          .capsule__inner
            .capsule__money
  section.moneybox
    h2.moneybox__title Як скористатися скарбничкою? 
    .moneybox__items
      .moneybox__item
      .moneybox__item
      .moneybox__item
