.page
  section.page__hero.hero
    .hero__container
      .hero__left
        h1.hero__title.section__title DEPOSIT AND<br> WITHDRAWAL TERMINAL<br>
          span PARTNERSHIP
        p.hero__subtitle Want to entertain your guests and increase your profits? <br> We handle all the work — you just provide the space for the terminal.
        a(href="#contacts").page__btn.hero__btn CONTACT US
      .hero__right 
        .hero__terminal--bal
        
        picture.hero__terminals
          source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/hero/terminals-desk.png")
          source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/hero/terminals-tab.png")
          source(media="(max-width: 500px) and (orientation: portrait)" srcset="img/hero/terminals-mob.png")
          source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/hero/terminals-desk.png")
          img(src="img/hero/terminals-desk.png" alt="Terminals")
        .hero__terminal--hand
    .hero__shadow
  .page__bg2
  section.page__about.about
    .about__container
      .about__img
        img.about__img--basketball(src="img/about/basketball-ball.png", alt="basketball-ball")
        img.about__img--soccer(src="img/about/soccer-ball.png", alt="soccer-ball")
        img.about__img--hand(src="img/about/hand-desk.png", alt="hand")
        img.about__img--gamepad(src="img/about/gamepad.png", alt="gamepad")
      .about__list
        h3.about__title.section__title ABOUT THE TERMINAL
        ul.about__items
          li.about__item Additional income from betting terminals.
          li.about__item Increased revenue in your venue.
          li.about__item Terminal installation at our cost.
          li.about__item A new service to complement your existing offerings.
          li.about__item Free service and technical support 24/7.
  
  section.page__service.service
    .service__container
      h3.section__title.service__title FAVBET SERVICE
      .service__middle
        img.service__crown(src='img/service/crown.svg')
        .service__left
          .service__block.service__block--left
          p.service__text.service__text--left We offer you professional service in the field of self-service betting terminals.
        .service__right
          .service__block.service__block--right
          p.service__text.service__text--right We follow global trends and are the only provider in the games of chance market to offer payouts directly through terminals.
      a(href="#contacts").page__btn.service__btn CONTACT US


  section.page__types.types
    h3.section__title.types__title BET TYPES
    .types__items
      .types__item.types__item--1
        img.types__item-img(src="img/types/type1.png", alt="type 1") 
        p.types__item-text LIVE BETTING
      .types__item.types__item--2
        img.types__item-img(src="img/types/type2.png", alt="type 2") 
        p.types__item-text LOTTERY BETTING
      .types__item.types__item--3
        img.types__item-img(src="img/types/type3.png", alt="type 3") 
        p.types__item-text VIRTUAL GAMES
      .types__item.types__item--4
        img.types__item-img(src="img/types/type4.png", alt="type 4") 
        p.types__item-text.types__item-text--last PREMATCH

  section.page__contacts.contacts#contacts
    h3.section__title.contacts__title CONTACTS
    .contacts__container
      .contacts__row
        .contacts__item.contacts__item--no-hover
          img.contacts__item--img(src="img/contacts/address.svg", alt="address")
          p.contacts__item--text Favorit sportska kladionica d.o.o.
        .contacts__item
          img.contacts__item--img(src="img/contacts/location.svg", alt="location")
          a(href="https://maps.app.goo.gl/RmLYQx26wxidqHUA8" target="_blank").contacts__item--text Draškovićeva 45, Zagreb
      .contacts__row
        .contacts__item
          img.contacts__item--img(src="img/contacts/email.svg", alt="email")
          a(href="mailto:podrska@favbet.hr").contacts__item--text podrska@favbet.hr
        .contacts__item
          img.contacts__item--img(src="img/contacts/tel.svg", alt="telephone")
          a(href="tel:+385016286668").contacts__item--text +385 (0) 1 6286 668