.page.en
  section.page__hero.hero
    .hero__container
      .hero__left
        .hero__glitch.glitch
          .glitch-img
          .glitch-img
          .glitch-img
          .glitch-img
        .hero__details
          p.hero__title Play responsibly with FAVBET.
          p.hero__text The Safebox is a feature designed to help you manage your spending by temporarily locking a portion of your balance, making it unavailable for gameplay.
        a(href="/personal-office/balance/safebox/").hero__btn
          span To "Safebox"
      .hero__right
        .capsule 
          .capsule__inner
            .capsule__money
              .capsule__money--1
                img(src="img/money/money-1.png", alt="money item 1")
              .capsule__money--2
                img(src="img/money/money-2.png", alt="money item 2")
              .capsule__money--3
                img(src="img/money/money-3.png", alt="money item 3")
              .capsule__money--4
                img(src="img/money/money-4.png", alt="money item 4")
              .capsule__money--6
                img(src="img/money/money-6.png", alt="money item 6")
              .capsule__money--7
                img(src="img/money/money-7.png", alt="money item 7")
  section.moneybox
    h2.moneybox__title How to use the safebox?
    .moneybox__items
      .moneybox__item.moneybox__item--1
        .moneybox__tab-light
        .moneybox__box.moneybox__box--1
          p.moneybox__sub-title Make sure:
          p.moneybox__element You are a verified player.
          p.moneybox__element You have funds on your main balance.
      .moneybox__item.moneybox__item--2
        .moneybox__tab-light
        .moneybox__box.moneybox__box--2
          p.moneybox__sub-title Set a limit:
          ul.moneybox__elements
            li Go to
            li Personal Office
            li Balance
            li Safebox
          p.moneybox__sub-text Enter the amount you want to restrict. This amount will be unavailable for gameplay.
      .moneybox__item.moneybox__item--3
        .moneybox__tab-light
        .moneybox__box.moneybox__box--3
          p.moneybox__sub-title Withdraw funds:
          ul.moneybox__elements.moneybox__elements--up
            li In the
            li Safebox 
            li.white section, click
            li “Transfer  Out”
          p.moneybox__sub-text Choose the amount you want to unlock and return to your main balance. The funds will become available for gameplay.


